:root {
  --color-bg: #d8e1b2;
  --color-accent-pink: #f8a8b5;
  --color-accent-yellow: #f7f189;
  --color-device-blue: #4579c2;
  --color-rock-brown: #c49a6c;
  --color-base-white: #f4f4f4;
  --color-base-black: #3b3935;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}